* {
    margin: 0px;
    padding: 0px;
}


/* Navigation */

.nav-banner {
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
}

.nav {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    align-items: center;
}
 
.logo {
    color: #4E47FF;
    font-weight: bolder;
    font-size: 60px;
}

.button {
    border-style: none;
    height: 48px;
    width: 132px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.button:hover {
    color: white;
    background-color: rgb(16, 16, 175);
    font-size: 25px;

}

.banner-gap {
    max-width: auto;
    height: 148px;
}

.banner {
    width: 905px;
    height: 237px;
    margin: auto;
    padding: 20px;
}

.banner-text{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

.banner-button {
    text-align: center;
    
}

.banner-button button{
    border-style: none;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 25px ;
    font-weight: bold;
    font-size: 20px;
}

.banner-button button:hover {
    color: white;
    background-color: rgb(16, 16, 175);
    font-size: 25px;
}

body {
    background-color: #f0faf7;
}

/* Action section */

.action {
    display: flex;
    max-width: 1140px;
    height: 328px;
    justify-content: space-between;
    margin: 116px auto;
}

.action-text {
    text-align: left;
    margin: auto 0px;
    width: 517px;

}

.action-text h2{
    font: 700;
    font-size: xx-large;
    margin-bottom: 5px;
    
}

.action-text p {
    font-size: x-large;
    font-weight: 400;
    word-wrap: break-word;
    padding-right: 50px;
    padding-bottom: 15px;
}

.action-button {
    font-weight: 700;
    border-style: none;
    border-radius: 8px;
    color: white;
    font-size: medium;
    padding: 10px 20px;
    background-color: #4E47FF;
}

.action-button:hover {
    color: whitesmoke;
    background-color: rgb(16, 16, 175);
    font-size: 20px;
}

.action-image {
    height: 328px;
    width: 403px;
    border-radius: 50px;
}

/* Productive user section */

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    height: 306px;
    background-color: #cde3f7;
    margin: auto;
    border-radius: 20px;
}

.user-1 {
    justify-content: center;
    align-items: center;
    height: 206px;
    width: 856px;
    margin: auto;
    text-align: center;
}

.user-1 h2{
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.user-info h1{
    color: #4E47FF;
    font-size: 80px;
}

.user-info p{
    font-size: larger;
}

/* Newsletter Section */

.newsletter {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 632px;
    margin: 50px auto;
    align-items: center;
}

.newsletter h1{
    text-align: left;
    font-size: 90px;
}

.form {
    border-style: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 497px;
    height: 490px;
}

label {
    font-size: larger;
    padding: 10px 0;
}

input[type=text] {
    font-size: medium;
    border-style: none;
    background-color: white;
    width: 457px;
    height: 70px;
    margin: 10px auto;
    padding: 5px 20px;
}

textarea {
    border-style: none;
    font-size: large;
    border-radius: 10px;
    width: 457px;
    padding: 20px;
    margin: 10px auto;
}

input {
    border-radius: 10px;
}

.form-btn {
    margin: 10px auto;
    border-style: none;
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-weight: bold
}

.form-btn:hover{
    color: whitesmoke;
    background-color: rgb(16, 16, 175);
    font-size: 20px;
}

/* Footer Section */

footer {
    background-color: white
}

.footer {
    padding-top: 80px;
    background-color: white;
    max-width: 1440px;
    height: 348px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-box {
    width: 531px;
    height: 221px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.footer-bar {
    justify-content: center;
    display: flex;
    gap: 40px;
}

.footer h1{
    font-size: 90px;
    color: #4E47FF;
    padding: 7% 10px 10px;
}

.footer p{
    font-size: 19px;
    padding: 10px;
}

.footer-bar a{
    font-size: 20px;
}


/* Review Section */

.review-box {
    max-width: 1140px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
}

.review-box h2{
    padding: 30px 0px;
}

.review {
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.review-card {
    border-radius: 10px;
    background-color: white;
    height: 243px;
    width: 326px;
    padding: 30px 20px 0px;
}

.review-img {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    padding: 10px 50px 10px 0px;
}

.review-img img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.review-star {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

.review-text h3{
    font-size: 30px;
    padding: 10px 0px 10px 0px;
}

.review-text p{
    font-size: 20px;
    padding: 10px 50px 10px 0px;
}

.reviewer-text {
    text-align: left;
    align-items: left;
    padding-left: 20px;
}

.reviewer-text h5{
    padding: 5px 0px;
    font-size: 20px;
}

.reviewer-text p{
    padding: 5px 0px;
    font-size: larger;
}