* {
    margin: 0px;
    padding: 0px;
}

/* Navigation */

.nav-banner {
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
}

.nav {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}
 
.logo {
    color: #4E47FF;
    font-weight: bolder;
}

.button {
    border-style: none;
    height: 48px;
    width: 132px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.banner-gap {
    max-width: auto;
    height: 148px;
}

.banner {
    width: 905px;
    height: 237px;
    margin: auto;
    padding: 20px;
}

.banner-text{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

.banner-button {
    text-align: center;
    
}

.banner-button button{
    border-style: none;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 25px ;
    font-weight: bold;
}

body {
    background-color: #f0faf7;
}

/* Action section */

.action {
    display: flex;
    max-width: 1140px;
    height: 328px;
    justify-content: space-between;
    margin: 116px auto;
}

.action-text {
    text-align: left;
    margin: auto 0px;
    width: 517px;

}

.action-text h2{
    font: 700;
    font-size: xx-large;
    margin-bottom: 5px;
    
}

.action-text p {
    font-size: x-large;
    font-weight: 400;
    word-wrap: break-word;
    padding-right: 50px;
    padding-bottom: 15px;
}

.action-button {
    border-style: none;
    border-radius: 8px;
    color: white;
    font-size: medium;
    padding: 10px 20px;
    background-color: #4E47FF;
}

.action-image {
    height: 328px;
    width: 403px;
    border-radius: 50px;
}

/* Productive user section */

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    height: 306px;
    background-color: #cde3f7;
    margin: auto;
    border-radius: 20px;
}

.user-1 {
    justify-content: center;
    align-items: center;
    height: 206px;
    width: 856px;
    margin: auto;
    text-align: center;
}

.user-1 h2{
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.user-info h1{
    color: #4E47FF;
    font-size: 80px;
}

.user-info p{
    font-size: larger;
}

/* Newsletter Section */

.newsletter {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 632px;
    margin: 50px auto;
    align-items: center;
}

.newsletter h1{
    text-align: left;
    font-size: 90px;
}

.form {
    border-style: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 497px;
    height: 490px;
}

label {
    font-size: larger;
    padding: 10px 0;
}

input[type=text] {
    font-size: medium;
    border-style: none;
    background-color: white;
    width: 457px;
    height: 70px;
    margin: 10px auto;
    padding: 5px 20px;
}

textarea {
    font-size: large;
    border-radius: 10px;
    width: 457px;
    padding: 20px;
    margin: 10px auto;
}

input {
    border-radius: 10px;
}

.form-btn {
    margin: 10px auto;
    border-style: none;
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    font-weight: bold
}